.page-header {
  margin: 0px 0 20px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.input-fonte {
  margin: 0px 0 10px;
}
button {
  margin: 20px 0 0 15px;
}
.custom-btn {
  background-color: #424242!important;
  color: #fff!important;
}
.mat-dialog-actions {
  margin-bottom: 0px;
}
