.row{
  margin: 0;
}
.menu-button {
  font-size: 20px;
  position: relative;
  top: 0px;
  margin-right: 20px;
}
img.brand-logo {
  width: 12%;
  padding-top: 10px;
  margin-right: 5px;
}
span.band-text {
  font-weight: 700;
  font-size: 20px;
  opacity: 0.9;
  vertical-align: -17px;
}
span.sga {
  font-weight: 700;
  font-size: 20px;
  opacity: 0.7;
  vertical-align: -17px;
}
.info-col {
  text-align: right;
  padding: 0px 15px 0;
}
span.user-info {
  font-size: 14px;
  position: relative;
  top: 3px;
  margin-right: 15px;
  float: right;
}
.btn-brand-s-link {
  color: #424242;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: 0px;
}
.btn-brand-s-link:hover {
  color: #424242;
}
