.jvectormap-legend {
  background: transparent !important;
  width: 170px !important;
}

.jvectormap-legend-title {
  font-size: 8.5px !important;
  color: #424242;
  text-align: left !important;
  margin-bottom: 5px !important;
}

.jvectormap-legend-cnt-v .jvectormap-legend-tick-sample {
    height: 20px;
    width: 20px;
    color: #424242;
    display: inline-block;
    vertical-align: none !important;
}
.jvectormap-legend-tick-text {
  color: #424242;
}
.card .card-header {
  color: #333;
  background: transparent;
}

.card.text-white.text-center.col-lg-12.col-sm-12 {
  border: 0!important;
  flex: inherit!important;
}
.small, small {
  color: #333;
}

