.page-header {
  margin: 0 15px;
}
.legend-adjust {
  margin-top: 10px !important;
  width: 88% !important;
}
.card .card-header {
  font-size: 8.5pt !important;
  border: 0 !important;
  margin: 0 0 0;
}
.btn-group-sm>.btn, .btn-sm {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  float: right;
  color: #424242!important;
}
.no-graf-info {
  text-align: center;
  margin: 30px 0 0;
  font-size: 70px;
  color: #ccc;
  width: 100%;
  text-transform: uppercase;
}
.no-graf-info h3 {
  margin: 0;
}
.no-graf-info i.fa.fa-exclamation-triangle {
  font-size: 62px;
}
