<div class="col-lg-12">
  <div class="page-header">
    <h3>{{ data.tituloDialog }}</h3>
  </div>

  <form [formGroup]="filaGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Descrição do Grupo" formControlName="descricao">
      <mat-error>Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-dialog-actions class="mat-dialog-footer" align="end">
      <button mat-raised-button matDialogClose>FECHAR</button>
      <button mat-raised-button class="custom-btn" [disabled]="filaGroup.invalid">{{ data.btnCustom }}</button>
    </mat-dialog-actions>
  </form>
</div>
