/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {font-family: FontAwesome;src: url("./assets/fonts/fonts/fontawesome-webfont.ttf")}
@font-face {font-family: ItauText_Lt; src: url("./assets/fonts/ItauText_Lt.ttf") format('truetype');}
@font-face {font-family: itaufonts_master; src: url("./assets/fonts/itaufonts_master_24px_v1.ttf") format('truetype');}
html, body {
  height: 100%;
  background-color: #ffffff;
  *text-align: center;
  *overflow:hidden;
}
.page-footer {
  color: #ffffff;
  display: block;
  float: left;
  width: 100%;
}
.presentation {
  font-family: gilroyB;
  font-size: 18px;
  letter-spacing: 0.2px;
}
.op-left {
  width: 46%;
  float: left;
}
.op-right {
  width: 48%;
  float: left;
  margin-left: 25px;
}
.op-title {
  font-family: gilroyB;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.op-description {
  font-family: gilroyR;
  font-size: 17px;
}
.mat-dialog-container {
  width: 100%!important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 12px;
}
.cal-month-view .cal-day-cell.cal-today {
  background-color: #ee042c!important;
  color: #fff!important;
}
.cal-month-view .cal-day-number {
  opacity: 1;
  margin-top: 5px;
}
.cal-month-view .cal-day-cell {
  min-height: 70px;
}
.has-event-feriado {
  background-color: #2f539c !important;
  color: #fff;
}
.has-event-pico {
  background-color: green !important;
  color: #fff;
}
.has-no-event {
  pointer-events: none!important;
  touch-action: none;
}
.card-deck {
  flex-flow: row wrap;
  margin-right: 20px!important;
  margin-left: 20px!important;
}
.card-deck .card {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 0;
}
/*.cell-totals {
margin: 5px;
text-align: center;
position: absolute;
}*/
.cell-totals {
  margin: 0;
  text-align: center;
  width: 28px;
  height: 0;
  position: relative;
  top: -75px;
  left: 5px;
}
.badge {
margin-right: 5px;
}
span.badge {
border-radius: 3px!important;
color: #fff;
font-size: 12px;
padding: 5px 10px!important;
background-color: #424242;
}
.example-tooltip-red {
background: #2f539c!important;
font-weight: 400;
font-size: 12px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #424242!important;
}
.page-header {
  margin: 20px 0 0px;
}
.example-tooltip-red {
  background: #ee042c!important;
  font-size: 13px;
  text-align: center;
}
.example-tooltip-red::before {
  font-family: FontAwesome;
  margin-right: 5px;
  display: block;
  content: "\f071 ";
}
/************************************************************
  CUSTOM-ANGULAR-CALENDAR
************************************************************/

.cal-month-view .cal-header {
  text-align: center;
  font-weight: bolder; }

  /*.cal-month-view .cal-cell-row:hover {
  background-color: #fafafa; }*/

  .cal-month-view .cal-header .cal-cell {
  padding: 5px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  text-transform: uppercase; }

  /*.cal-month-view .cal-cell-row .cal-cell:hover,
  .cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #ededed; }*/

  .cal-month-view .cal-days {
  border: 1px solid #e1e1e1;
  border-bottom: 0; }

  .cal-month-view .cal-cell-top {
  min-height: 78px;
  padding: 5px 15px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #e1e1e1;
  }

  .cal-month-view .cal-cell-row {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex; }

  .cal-month-view .cal-cell {
  float: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

  .cal-month-view .cal-day-cell {
  min-height: inherit; }

  .cal-month-view .cal-day-cell:not(:last-child) {
  cursor: pointer; }

  .cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid #e1e1e1; }

  .cal-month-view .cal-day-badge {
  display: none!important;
  margin-top: 18px;
  margin-left: 10px;
  background-color: #b94a48;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px; }

  .cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  *opacity: 0.5;
  display: block;
  margin: 0;
  text-align: center; }

  .cal-month-view .cal-events {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 3px;
  line-height: 10px;
  display: none!important;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

  .cal-month-view .cal-event {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  background-color: #1e90ff;
  border-color: #D1E8FF;
  color: #fff; }

  .cal-month-view .cal-event-title:link {
  color: currentColor; }

  .cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: pointer; }

  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.1;
  cursor: default; }

  .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: darkred; }

  .cal-month-view .cal-day-cell.cal-today {
  background-color: #ee042c;
  cursor: pointer; }

  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.9em;
  color: #fff;
  opacity: 1;
  font-weight: 900; }

  .cal-month-view .cal-day-cell.cal-drag-over {
  background-color: #e0e0e0 !important; }

  .cal-month-view .cal-open-day-events {
  padding: 15px;
  color: white;
  background-color: #555;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5); }

  .cal-month-view .cal-open-day-events .cal-event {
  position: relative;
  top: 2px; }

  .cal-month-view .cal-out-month .cal-day-badge,
  .cal-month-view .cal-out-month .cal-event {
  opacity: 0.3; }

  .cal-week-view .cal-day-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-bottom: 3px;
  border: 1px solid #e1e1e1;
  margin-left: 2px;
  margin-right: 2px; }

  .cal-week-view .cal-day-headers .cal-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 5px; }

  .cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right: 1px solid #e1e1e1; }

  /*.cal-week-view .cal-day-headers .cal-header:hover,
  .cal-week-view .cal-day-headers .cal-drag-over {
  background-color: #ededed; }*/

  .cal-week-view .cal-day-headers span {
  font-weight: 400;
  opacity: 0.5; }

  .cal-week-view .cal-events-row {
  position: relative;
  height: 33px; }

  .cal-week-view .cal-event-container {
  display: inline-block;
  position: absolute; }

  .cal-week-view .cal-event {
  padding: 0 10px;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
  line-height: 30px;
  background-color: #D1E8FF;
  border: 1px solid #1e90ff;
  color: #1e90ff; }

  .cal-week-view .cal-event-title:link {
  color: currentColor; }

  .cal-week-view .cal-draggable {
  cursor: move; }

  .cal-week-view .cal-starts-within-week .cal-event {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

  .cal-week-view .cal-ends-within-week .cal-event {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

  .cal-week-view .cal-header.cal-today {
  background-color: #e8fde7; }

  .cal-week-view .cal-header.cal-weekend span {
  color: #8b0000; }

  .cal-week-view .cal-event,
  .cal-week-view .cal-header {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

  /*.cal-day-view {
  stylelint-disable-next-line selector-type-no-unknown }*/
  .cal-day-view .cal-hour-rows {
  width: 100%;
  border: solid 1px #e1e1e1;
  overflow-x: scroll;
  position: relative; }
  .cal-day-view .cal-hour:nth-child(odd) {
  background-color: #fafafa; }
  .cal-day-view mwl-calendar-day-view-hour-segment,
  .cal-day-view .cal-hour-segment {
  display: block; }
  .cal-day-view .cal-hour-segment::after {
  content: '\00a0'; }
  .cal-day-view .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom: thin dashed #e1e1e1; }
  .cal-day-view .cal-time {
  font-weight: bold;
  padding-top: 5px;
  width: 70px;
  text-align: center; }
  .cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: none; }
  .cal-day-view .cal-event-container {
  position: absolute; }
  .cal-day-view .cal-event {
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #D1E8FF;
  border: 1px solid #1e90ff;
  color: #1e90ff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .cal-day-view .cal-event-title:link {
  color: currentColor; }
  .cal-day-view .cal-draggable {
  cursor: move; }
  .cal-day-view .cal-starts-within-day .cal-event {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .cal-day-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .cal-day-view .cal-all-day-event {
  padding: 8px;
  border: solid 1px; }

  .cal-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 11px;
  word-wrap: break-word;
  opacity: 0.9; }

  .cal-tooltip.cal-tooltip-top {
  padding: 5px 0;
  margin-top: -3px; }

  .cal-tooltip.cal-tooltip-top .cal-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000; }

  .cal-tooltip.cal-tooltip-right {
  padding: 0 5px;
  margin-left: 3px; }

  .cal-tooltip.cal-tooltip-right .cal-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000; }

  .cal-tooltip.cal-tooltip-bottom {
  padding: 5px 0;
  margin-top: 3px; }

  .cal-tooltip.cal-tooltip-bottom .cal-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000; }

  .cal-tooltip.cal-tooltip-left {
  padding: 0 5px;
  margin-left: -3px; }

  .cal-tooltip.cal-tooltip-left .cal-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000; }

  .cal-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem; }

  .cal-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

